*.pyo
*.pyc
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
build/
.gradle/
.idea/libraries/cardview_v7_21_0_3.xml
.idea/libraries/support_v4_21_0_3.xml
.idea/libraries/cardview_v7_21_0_3.xml
.idea/libraries/cardview_v7_21_0_3.xml
.idea/libraries/cardview_v7_21_0_3.xml
app/app.iml
.idea/gradle.xml
.idea/libraries/cardview_v7_21_0_3.xml
